:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --main-color: purple;
  --light-gold: rgba(255, 217, 0, 1);
  --regular-gold: rgb(180, 158, 34);
  --dark-gold: rgba(167, 143, 7, 0.6);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #252525;
  color: #f4f4f4;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 2rem;
}